@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Bebas Neue", sans-serif;
}
#wlContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}
#letterContainer {
  display: flex;
  gap: 3px;
  justify-content: center;
  width: 200px;
  flex-wrap: wrap;
}
.letter {
  border: 1px solid black;
  background-color: white;
  padding: 5px;
  border-radius: 5px;
}
.letter:hover {
  cursor: pointer;
}
#picture {
  height: 300px;
  width: 300px;
  border: 2px solid black;
}
#hanger{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding-top: 20px;
}

.LoseScreen{
  background: rgba(0,0, 0, 0.5);
  height: 100vh;
  width: 100vw; 
  color: white;
  font-size: 200px;
  position: absolute;
  left: 0;
  top: 0;
  visibility: hidden;
}
#lose{
  position: absolute;
  left: 350px;
  top: 100px;
}
#restartButton{
  position: absolute;
  left: 620px;
  top: 400px;
}
.WinScreen{
  background: rgba(0,0, 0, 0.5);
  height: 100vh;
  width: 100vw; 
  color: white;
  font-size: 200px;
  position: absolute;
  left: 0;
  top: 0;
  visibility: hidden;
}
#win{
  position: absolute;
  left: 350px;
  top: 100px;
}